$main-color: #ffcb05;
$slider-header-color: #5cafc7;
$button-prim-color: #66c8e4;
$community-color: #66c8e4;
$slider-names-color: #f4c100;
$slider-title-color: #747474;
$remove-button-color: #a4b0b4;
$in-store-button-color: #16c243;
$search-button-color: #16c243;
$main-text-color: #737373;
$main-menu-link: #262420;
$background-section: #f5f5f5;

// colors

$color-1: #404042; // Ship Gray
$color-2: #9dc997; // Spring Rain
$color-3: #ffffff; // White
$border: shade($color-3, 10%);

// fonts

$primary-font: 'Source Sans Pro', sans-serif;

// Table

$products-number: 4;
$products-column-width-mobile: 150px;
$products-column-width: 240px;
$features-column-width-mobile: 120px;
$features-column-width: 210px;
