<div class="container">
    <div class="row">
        <!-- The Modal -->
            <div id="authorize_modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content col-sm-8 col-md-6 col-xs-12 col-md-offset-3 col-sm-offset-2 col-xs-offset-0">
                    <div class="modal-header">
                        <span class="close" id="auth"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 371.2 371.2" width="512" height="512"><polygon points="371.2 21.2 350 0 185.6 164.4 21.2 0 0 21.2 164.4 185.6 0 350 21.2 371.2 185.6 206.8 350 371.2 371.2 350 206.8 185.6 "/></svg></span>
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <h2>Авторизация</h2>
                        </div>
                        <form action="#" class="form-authorization" id="form-auth">
                            <div class="form-container">
                                <label for="login">Логин :</label>
                                <input type="text" name="login" id="login">
                            </div>
                            <div class="form-container">
                                <label for="password">Пароль :</label>
                                <input type="password" name="password" id="password">
                            </div>
                            <a href="#" class="forgot-password"><span>&#42;Забыли пароль?</span></a>
                            <button type="submit" class="btn">Войти в мой аккаунт</button>
                        </form>
                        <div class="missed-values-auth">
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
