<section class="clients" id="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h2>Что говорят о нас клиенты</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="owl-carousel" id="clients-carousel">
                        <div class="col-md-12 col-xs-12 col-sm-12 item">
                            <div class="col-md-4 col-xs-12 client-photo">
                                <img src="img/clients/client-1.png" alt="">
                            </div>
                            <div class="col-md-8 col-xs-12 review-container">
                                <h2 class="name">Татьяна Коковко</h2>
                                <p class="feedback">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, at consequatur consequuntur culpa dicta eveniet fugiat laboriosam obcaecati optio placeat praesentium quia quidem tempore temporibus?
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 item">
                            <div class="col-md-4 col-xs-12 client-photo">
                                <img src="img/clients/client-1.png" alt="">
                            </div>
                            <div class="col-md-8 col-xs-12 review-container">
                                <h2 class="name">Николай Коковко</h2>
                                <p class="feedback">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, at consequatur consequuntur culpa dicta eveniet fugiat laboriosam obcaecati optio placeat praesentium quia quidem tempore temporibus?
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 item">
                            <div class="col-md-4 col-xs-12 client-photo">
                                <img src="img/clients/client-1.png" alt="">
                            </div>
                            <div class="col-md-8 col-xs-12 review-container">
                                <h2 class="name">Татьяна Коковко</h2>
                                <p class="feedback">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, at consequatur consequuntur culpa dicta eveniet fugiat laboriosam obcaecati optio placeat praesentium quia quidem tempore temporibus?
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 item">
                            <div class="col-md-4 col-xs-12 client-photo">
                                <img src="img/clients/client-1.png" alt="">
                            </div>
                            <div class="col-md-8 col-xs-12 review-container">
                                <h2 class="name">Николай Коковко</h2>
                                <p class="feedback">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, at consequatur consequuntur culpa dicta eveniet fugiat laboriosam obcaecati optio placeat praesentium quia quidem tempore temporibus?
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 item">
                            <div class="col-md-4 col-xs-12 client-photo">
                                <img src="img/clients/client-1.png" alt="">
                            </div>
                            <div class="col-md-8 col-xs-12 review-container">
                                <h2 class="name">Татьяна Коковко</h2>
                                <p class="feedback">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, at consequatur consequuntur culpa dicta eveniet fugiat laboriosam obcaecati optio placeat praesentium quia quidem tempore temporibus?
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 item">
                            <div class="col-md-4 col-xs-12 client-photo">
                                <img src="img/clients/client-1.png" alt="">
                            </div>
                            <div class="col-md-8 col-xs-12 review-container">
                                <h2 class="name">Николай Коковко</h2>
                                <p class="feedback">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, at consequatur consequuntur culpa dicta eveniet fugiat laboriosam obcaecati optio placeat praesentium quia quidem tempore temporibus?
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 item">
                            <div class="col-md-4 col-xs-12 client-photo">
                                <img src="img/clients/client-1.png" alt="">
                            </div>
                            <div class="col-md-8 col-xs-12 review-container">
                                <h2 class="name">Татьяна Коковко</h2>
                                <p class="feedback">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, at consequatur consequuntur culpa dicta eveniet fugiat laboriosam obcaecati optio placeat praesentium quia quidem tempore temporibus?
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12 item">
                            <div class="col-md-4 col-xs-12 client-photo">
                                <img src="img/clients/client-1.png" alt="">
                            </div>
                            <div class="col-md-8 col-xs-12 review-container">
                                <h2 class="name">Николай Коковко</h2>
                                <p class="feedback">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, at consequatur consequuntur culpa dicta eveniet fugiat laboriosam obcaecati optio placeat praesentium quia quidem tempore temporibus?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dots-container">

                </div>
            </div>
        </div>
</section>
