<section class="company">
    <div class="container tabs">
        <div class="row" id="">
            <div class="col-md-9 col-xs-12 col-sm-8" id="companyText">
                <div class="row tab">
                    <div class="col-md-6 col-xs-6 col-sm-6"><h2><a href="#aboutCompany" class="active service-link tablinks">О компании</a></h2></div>
                    <div class="col-md-6 col-xs-6 col-sm-6"><a href="#service" class="service-link tablinks">Сервис</a></div>
                </div>
                <div class="row tabcontent" id="aboutCompany">
                    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus accusantium amet commodi
                        deserunt dolor doloremque est eum excepturi, exercitationem harum inventore mollitia nisi quis
                        repellendus reprehenderit repudiandae sunt, tenetur?
                    </div>
                    <div>Accusantium consequuntur dolores error ipsam natus, nesciunt nobis quae quod ut. A accusamus
                        dolorem eos laborum modi mollitia, nam obcaecati odio, quaerat quam quibusdam sint tenetur vel
                        vero voluptas voluptate?
                    </div>
                    <div>A ad distinctio ducimus exercitationem ullam! Accusamus ad aut corporis dicta doloremque eaque
                        eos harum, ipsa nobis nostrum pariatur placeat praesentium quos ratione reprehenderit saepe sed
                        vitae voluptate voluptates voluptatibus.
                    </div>
                </div>
                <div class="row tabcontent" id="service">
                    <div class="row service-sorting row-no-padding tab">
                        <div class=""><a href="#repairEngine" class=" deep-tab-link" >Ремонт двигателей</a></div>
                        <div class=""><a href="#repairTransmission" class="deep-tab-link" >РЕМОНТ ТРАНСМИССИИ</a></div>
                        <div class=""><a href="#repairChassis" class="deep-tab-link" >РЕМОНТ ХОДОВОЙ</a></div>
                        <div class=""><a href="#spareParts" class="deep-tab-link" >ЗАПАСНЫЕ ЧАСТИ</a></div>
                    </div>
                    <div class="row service-description  deep-tab-content" id="repairEngine">
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                            <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                            </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                        <span class="svg-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                        </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                        <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                        </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <a href="#" class="btn">Читать больше</a>
                        </div>
                    </div>
                    <div class="row service-description  deep-tab-content" id="repairTransmission">
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                            <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                            </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                        <span class="svg-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                        </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                        <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                        </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <a href="#" class="btn">Читать больше</a>
                        </div>
                    </div>
                    <div class="row service-description  deep-tab-content" id="repairChassis">
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                            <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                            </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                        <span class="svg-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                        </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                        <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                        </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <a href="#" class="btn">Читать больше</a>
                        </div>
                    </div>
                    <div class="row service-description  deep-tab-content" id="spareParts">
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                            <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                            </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                        <span class="svg-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                        </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-12 col-xs-12 service-description-wrapper">
                        <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><path d="M26 0C11.7 0 0 11.7 0 26s11.7 26 26 26 26-11.7 26-26S40.3 0 26 0zM26 50C12.8 50 2 39.2 2 26S12.8 2 26 2s24 10.8 24 24S39.2 50 26 50z"/><path d="M38.3 15.3l-15.4 17.3 -9.3-7.4c-0.4-0.3-1.1-0.3-1.4 0.2 -0.3 0.4-0.3 1.1 0.2 1.4l10 8C22.6 34.9 22.8 35 23 35c0.3 0 0.6-0.1 0.7-0.3l16-18c0.4-0.4 0.3-1-0.1-1.4C39.3 14.9 38.6 14.9 38.3 15.3z"/></svg>
                        </span>
                            <p>
                                ремонт блока цилиндров — осуществляется замена или растачивание цилиндров до необходимого
                                размера, выравнивается привалочная плоскость, ремонтируются постели коленчатого вала.
                            </p>
                        </div>
                        <div class="col-md-3 col-xs-12 col-sm-4">
                            <a href="#" class="btn">Читать больше</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-4 hidden-xs" id="companyCerificate">
                <img src="img/about/cetificate.png" alt="">
            </div>
        </div>
    </div>
</section>
