<div class="catalog-wrapper">
    <div class=" early-catalog-nav-container"></div>
    <div class=" owl-carousel items-container" id="early-viewed-slider">
        <div class= "item item-tire">
            <div class="price-wrapper">
                <span class="price">850 000 руб.</span>
            </div>                            <a href="#">
            <img src="img/tires/w130-h180-c-media-catalog-Michelin-Michelin-Primacy-3.jpg" alt="">
        </a>
            <div class="description-wrapper ">
                Грузовая шина 10.00R20
                16PR TT АШК Forward Traction
            </div>
            <div class="col-md-12 col-xs-12 buy-wrapper">
                <a class=" col-md-6 col-xs-12 btn">Купить</a>
                <span class="col-md-6 col-xs-12">В наличии</span>
            </div>
        </div>
        <div class= "item item-tire">
            <div class="price-wrapper">
                <span class="price">850 000 руб.</span>
            </div>                            <a href="#">
            <img src="img/tires/w130-h180-c-media-catalog-Michelin-Michelin-Primacy-3.jpg" alt="">
        </a>
            <div class="description-wrapper ">
                Грузовая шина 10.00R20
                16PR TT АШК Forward Traction
            </div>
            <div class="col-md-12 col-xs-12 buy-wrapper">
                <a class=" col-md-6 col-xs-12 btn">Купить</a>
                <span class="col-md-6 col-xs-12">В наличии</span>
            </div>
        </div>
        <div class= "item item-tire">
            <div class="price-wrapper">
                <span class="price">850 000 руб.</span>
            </div>                            <a href="#">
            <img src="img/tires/w130-h180-c-media-catalog-Michelin-Michelin-Primacy-3.jpg" alt="">
        </a>
            <div class="description-wrapper ">
                Грузовая шина 10.00R20
                16PR TT АШК Forward Traction
            </div>
            <div class="col-md-12 col-xs-12 buy-wrapper">
                <a class=" col-md-6 col-xs-12 btn">Купить</a>
                <span class="col-md-6 col-xs-12">В наличии</span>
            </div>
        </div>
        <div class= "item item-tire">
            <div class="price-wrapper">
                <span class="price">850 000 руб.</span>
            </div>                            <a href="#">
            <img src="img/tires/w130-h180-c-media-catalog-Michelin-Michelin-Primacy-3.jpg" alt="">
        </a>
            <div class="description-wrapper ">
                Грузовая шина 10.00R20
                16PR TT АШК Forward Traction
            </div>
            <div class="col-md-12 col-xs-12 buy-wrapper">
                <a class=" col-md-6 col-xs-12 btn">Купить</a>
                <span class="col-md-6 col-xs-12">В наличии</span>
            </div>
        </div>
        <div class= "item item-tire">
            <div class="price-wrapper">
                <span class="price">850 000 руб.</span>
            </div>                            <a href="#">
            <img src="img/tires/w130-h180-c-media-catalog-Michelin-Michelin-Primacy-3.jpg" alt="">
        </a>
            <div class="description-wrapper ">
                Грузовая шина 10.00R20
                16PR TT АШК Forward Traction
            </div>
            <div class="col-md-12 col-xs-12 buy-wrapper">
                <a class=" col-md-6 col-xs-12 btn">Купить</a>
                <span class="col-md-6 col-xs-12">В наличии</span>
            </div>
        </div>
    </div>
</div>