<div class="col-md-12 col-xs-12 col-sm-10 col-xs-offset-0 col-md-offset-0 col-sm-offset-1 filter-container" id="filter">
    <div class="row row-no-padding ">
        <ul class="filter-buttons">
            <li class="filter-header --order-1">
                <a href="#"><img src="img/tires/lightCar.png" style="vertical-align: middle" alt="">
                    легковые</a>
            </li>
            <li class="active filter-header">
                <a href=""><img src="img/tires/lightheavy.png" alt="">
                    мото</a>
            </li>
            <li class="filter-header --order-2">
                <a href=""><img src="img/tires/lightheavy.png" alt="">
                    лег.груз</a>
            </li>
            <li class="filter-header --order-3">
                <a href=""><img src="img/tires/heavyl.png" alt="">
                    грузовые</a>
            </li>
            <li class="filter-header --order-4">
                <a href=""><img src="img/tires/special.png" alt="">
                    для спецтехники</a>
            </li>
        </ul>
    </div>
    <div class="row dropdown-filter-section">
        <div class="col-xs-12">
            <div class="col-md-4 col-xs-12">
                <div class="styled-select">
                    <select name="" class="dropdown-caret">
                        <option value="manufacturer">Производитель</option>
                    </select>
                    <select name="" class="dropdown-caret">
                        <option value="width-tire">Ширина профиля</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="styled-select">
                    <select name="" class="dropdown-caret">
                        <option value="tire-serial">Серия шины</option>

                    </select>
                    <select name="" class="dropdown-caret">
                        <option value="accept-to-axis">Применяемость по осям</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="styled-select">
                    <select name="" class="dropdown-caret">
                        <option value="seasons">Сезонность</option>
                    </select>
                    <select name="" class="dropdown-caret">
                        <option value="diameter">Посадочный диаметр</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row sorting-section">
        <div class="col-xs-12">
            <form action="#">
                <div class="col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <input type="radio" id="byCar" name="sortingRadioGroup">
                            <label for="byCar"><span></span>По автомобилю</label>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <input type="radio" id="byParams" name="sortingRadioGroup">
                            <label for="byParams"><span></span>По параметрам</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="row ">
                        <div class="col-md-6 col-xs-12 ">
                            <input type="radio" id="byRims" name="sortingRadioGroup">
                            <label for="byRims"><span></span>По дискам</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 btns">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <button type="submit" class="btn-search">Искать</button>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <button type="reset"  class="btn-reset">Сбросить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
