<header class="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 navigation-container">
                <div class="nav-menu">
                    <div class="logo">
                        <a href="#"><img src="img/logo.jpg" alt=""></a>
                    </div>
                    <div class="toggleMenu-wrap"><a class="toggleMenu fa fa-bars" href="#" style="display: none;"></a></div>
                </div>
                <div class="nav">
                    <div class=" search ">

                        <a href="#" id="searchtoggl"><i class="fa fa-search hidden-xs"></i></a>

                        <form id="searchform-mobile" action="#" class="hidden-sm hidden-md hidden-lg">
                            <button type="submit" id="searchsubmit-mobile" class="fa fa-search search-btn"></button>
                            <input type="search" name="search" id="inputSearch-mobile" class="inputSearch" autocomplete="off">
                        </form>
                    </div>
                    <ul class="nav-list">
                        <li class="">
                            <a href="#1">Сервис</a>
                        </li >
                        <li class="">
                            <a href="#" class="parent">О нас</a>
                            <ul class="">
                                <li class=""><a href="news.html">Новости</a></li>
                                <li class=""><a href="#">Вакансии</a></li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="textpage.html">Гарантии</a>
                        </li>
                        <li class="">
                            <a href="contacts.html">Контакты</a>
                        </li>
                        <li class="sign">
                            <a href="#" id="signIn">Вход</a>
                        </li>
                        <li class="sign">
                            <a href="#" id="signUp">Регистрация</a>
                        </li>
                    </ul>
                    </div>
            </div>
        </div>
    </div>
</header>
<section class="hidden-xs">
    <div class="container">
        <div class="row">
            //= _searchBar.html
        </div>
    </div>
</section>