
<section class="main-menu">
    <div class="container">
        <div class="row">
			<span class="col-xs-8 col-xs-offset-4  mobile-bag hidden-sm hidden-md hidden-lg">
				<span class="col-xs-12 col-sm-12 mobile-bag-wrapper">
					<a href="basket.html">
                        <i class="fa fa-shopping-bag">
                            <span class="pill">3</span>
                        </i>
                    </a>
				</span>
			</span>
            <nav class="" id="main-menu-mobile" role="navigation">
                <a href="#main-menu-mobile" title="Show navigation"><i class="fa fa-plus"></i></a>

                <a href="#" title="Hide navigation"><i class="fa fa-minus"></i></a>

                <ul class="main-menu-container">
                    <li class="">
                        <a href="catalog.html">Легковые шины</a>
                    </li>
                    <li class="">
                        <a href="#">Грузовые шины</a>
                    <li class="">
                        <a href="#">Легкогрузовые шины</a>
                    </li>
                    <li class="">
                        <a href="#">Для спецтехники</a>
                    </li>
                    <li class="store-items">
                        <a class="hidden-xs" href="basket.html">
                            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="512" height="512"><path d="m417.9 104.4h-65.5c-2.2-51-44.8-92.4-96.4-92.4s-94.2 41.3-96.5 92.4h-66.5l-30.1 395.6h386.2l-31.2-395.6zm-161.9-71.6c40.1 0 73.5 32 75.7 71.6h-151.4c2.2-39.6 35.6-71.6 75.7-71.6zm-143.3 92.4h46.7v68.5h20.8v-68.5h151.6v68.5h20.8v-68.5h47.8l27 354h-341.7l27-354z" /></svg></span>
                            <span class="store-items-count">
                                <span class="store-item-link">Товаров: <span class="store-item-amount">24</span></span>
                                <span class="store-item-link">Сумма: <span class="store-item-amount">241234 <i class="fa fa-ruble"></i></span></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>
