<section class="onPhone" id="onPhone">
    <div class="container">
        <div class="row onPhone-container">
            <div class="onPhone-wrapper">
                <div class="link-wrapper">
                    <a href="#">
                        <span class="onPhone-image"><img src="img/icons/phone.png" alt=""></span>
                        <span>
                            <span  class="onPhone-link">Написать письмо</span>
                            <span class="onPhone-description">Напишите свои пожелания нам!</span>
                        </span>

                    </a>
                </div>
            </div>
            <div class="onPhone-wrapper">
                <div class="link-wrapper">
                    <a href="#">
                        <span class="onPhone-image"><img src="img/icons/message.png" alt=""></span>
                        <span>
                            <span class="onPhone-link">Написать письмо</span>
                            <span class="onPhone-description">Напишите свои пожелания нам!</span>
                        </span>

                    </a>
                </div>
            </div>
            <div class="onPhone-wrapper">
                <div class="link-wrapper">
                    <a href="#">
                        <span class="onPhone-image"><img src="img/icons/car.png" alt=""></span>
                        <span>
                            <span class="onPhone-link">Написать письмо</span>
                            <span class="onPhone-description">Напишите свои пожелания нам!</span>
                        </span>

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>